{% block sw_cms_element_occupation_preview %}
    <div class="sw-cms-el-preview-occupation">
        <h2>Occupation</h2>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
        </p>
    </div>
{% endblock %}
