{% block sw_cms_element_name_preview %}
    <div class="sw-cms-el-preview-name">
        <h2>Name</h2>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
        </p>
    </div>
{% endblock %}
