{% block sw_cms_block_image_text_two_rows_preview %}
    <div class="sw-cms-preview-image-text-two-rows">
        <div class="sw-cms-preview-image-text-two-rows__left">
            <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
        </div>
        <div class="sw-cms-preview-image-text-two-rows__right">
            <div class="sw-cms-preview-image-text-two-rows__text">
                <h2>Name</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
            <div class="sw-cms-preview-image-text-two-rows__text">
                <h2>Occupation</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
        </div>
    </div>
{% endblock %}
